<div class="modal fade" id=<%=modalName%> tabindex="-1" aria-labelledby="#Modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Estimation value</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: estimation_value,  path: path, local: true, method: method do |f| %>
          <div class="d-flex-col">
            <%= f.label :value, class: "form-label" %>
            <%= f.number_field :value, value: estimation_value.value, class: "form-control" %>
          </div>
          <div class="d-flex-col">
            <%= f.label :placement, class: "form-label" %>
            <%= f.number_field :placement, value: estimation_value.placement, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit submit_button_content, class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
