<div class='container-fluid'>
  <h1><%= t('views.rooms.index.title') %></h1>
  <%= render partial: 'rooms/form', locals: { room: @room, method: 'post', path: rooms_path, button_content: t('views.rooms.index.buttons.create') } %>
  <% if @rooms.blank? %>
    <h5><%= t('views.rooms.index.available_rooms.no_rooms') %></h5>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><%= t('active_record.attributes.room.name') %></th>
          <th scope="col"><%= t('active_record.attributes.room.admin') %></th>
          <th scope="col"><%= t('views.rooms.index.table.titles.options') %></th>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>
              <th scope="row"><%= room.id %></th>
              <td><%= room.name %></td>
              <td><%= room.admin.username %></td>
              <td>
                <% if room.include?(current_user) %>
                  <%= link_to t('views.rooms.index.buttons.enter'), room_path(room), type: 'button', class: 'btn btn-danger' %>
                <% else %>
                  <%= link_to t('views.rooms.index.buttons.join'), join_room_path(room), method: 'post', type: 'button', class: 'btn btn-success' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
