<div class="container-fluid">
    <% if @room.admin == current_user %>
        <%= render partial: 'form', locals: { room: @room, button_content: t('views.rooms.show.buttons.edit'), method: 'patch', path: room_path(@room) } %>
      <%= link_to t('views.rooms.show.buttons.destroy'), room_path(@room), method: 'delete', type: 'button', class: 'btn btn-danger float-end mx-2'%>
    <% else %>
      <%= link_to t('views.rooms.show.buttons.leave'), leave_room_path(@room), method: 'delete', type: 'button', class: 'btn btn-danger float-end' %>
    <% end%>
  <% if @room.users.blank? %>
    <h5><%= t('views.rooms.show.other_users.no_users') %></h5>
    <h5><%= t('views.rooms.show.other_users.call_to_action') %></h5>
  <% else %>
    <button type="button" class="btn btn-success float-start"><%= t('views.rooms.show.table.options.estimate') %></button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t('active_record.attributes.user.username') %></th>
          <% if @room.admin == current_user %>
            <th scope="col"><%= t('views.rooms.show.table.titles.kick') %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <td><%= @room.admin.username %></td>
        <% @room.users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td>
              <% if @room.admin == current_user %>
                <%= link_to t('views.rooms.show.table.titles.kick'), kick_user_room_path(@room, user_id: user.id), method: 'delete',type: 'button', class: 'btn btn-danger float-end', data: {confirm: 'Are you sure?'} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
