<div class="container-fluid">
    <% if @room.admin == current_user %>
        <%= render partial: 'user_stories/modal', locals: {user_story: @user_story, modalName: 'create_user_story_modal', room_id: @room.id} %>
        <%= render partial: 'form'%>
        <%= link_to t('views.rooms.show.buttons.destroy'), room_path(@room), method: 'delete', type: 'button', class: 'btn btn-danger float-end mx-2'%>
        <button type="button" class="btn btn-success m-3" data-bs-toggle="modal" data-bs-target="#create_user_story_modal" data-bs-whatever="@mdo"><%= t('helpers.submit.user_story.create') %></button>
    <% else %>
      <%= link_to t('views.rooms.show.buttons.leave'), leave_room_path(@room), method: 'delete', type: 'button', class: 'btn btn-danger float-end' %>
    <% end%>
  <% if @room.users.blank? %>
    <h5><%= t('views.rooms.show.other_users.no_users') %></h5>
    <h5><%= t('views.rooms.show.other_users.call_to_action') %></h5>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t('active_record.attributes.user.username') %></th>
          <% if @room.admin == current_user %>
            <th scope="col"><%= t('views.rooms.show.table.titles.kick') %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <td><%= @room.admin.username %></td>
        <% @room.users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td>
              <% if @room.admin == current_user %>
                <%= link_to t('views.rooms.show.table.titles.kick'), kick_user_room_path(@room, user_id: user.id), method: 'delete',type: 'button', class: 'btn btn-danger float-end', data: {confirm: 'Are you sure?'} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
